<section class="section brd-btm" id="Eng_basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">

            <dl class="dl-horizontal clear-mrg">  
		Hi! I'm Hao Tian. I'm a graduate student of Department of Computer Science and Software Engineering at East China Normal University, Shanghai, China. Currently, I'm working with Prof. <a href="https://faculty.ecnu.edu.cn/s/2747/main.jspy">Xinyu Zhang</a> and Prof. <a href="https://faculty.ecnu.edu.cn/s/1341/main.jspy">Changbo Wang</a> on Computer Graphics and Robotics. From March 2018 to March 2019, I was funded by China Scholarship Council (CSC) as a visiting scholar at University of Maryland at College Park and worked in <a href="http://gamma.web.unc.edu/">GAMMA</a> lab under the guidance of Prof. <a href="http://cs.unc.edu/~dm/">Dinesh Manocha</a>. I completed my Bachelor's degree in Sofware Engineering Institute at East China Normal University. I'm interested in grasp planning and manipulation planning for dexterous hand, Computer Graphics, VR/AR, Human-Computer Interaction.
		<br> Email: nicktian dot ecnu at gmail dot com
            </dl>
			
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->