<section class="section brd-btm" id="news">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin">News</h2>

            <div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/ros.jpg' | prepend: site.baseurl }}" class="avatar-54 photo" width="214" >
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>2019 ROS Summer School, Invited Speaker</strong>
                        <span>2019.08.01</span>
						<!-- to appear in IEEE International Conference on Robotics and Automation (ICRA 2019) -->
                    </div>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/ICRA-conf.jpg' | prepend: site.baseurl }}" class="avatar-54 photo" width="214">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Attend ICRA2019 and Present Our Paper</strong>
                        <span>2019.05</span>
                    </div>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/UMD.jpg' | prepend: site.baseurl }}" class="avatar-54 photo" width="214">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Complete the Visiting and Return to China</strong>
                        <span>2019.03</span>
                    </div>
                </div>
            </div><!-- .ref-box -->
			
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->