<section class="section brd-btm" id="projects">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin">Projects</h2>

            <div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/vspera.png' | prepend: site.baseurl }}" class="avatar-54 photo" width="214" >
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>VSpera Inc, Shanghai</strong>
                        <span>2016.05 – 2016.09</span>
						<!-- to appear in IEEE International Conference on Robotics and Automation (ICRA 2019) -->
                    </div>

                    <blockquote class="ref-cont clear-mrg">
						<ul>
						<li>Software Engineering Intern</li>
						<!-- Hao Tian, Changbo Wang, Dinesh Manocha, Xinyu Zhang -->
						<li>Developed interactive system for VR+ English learning platform with HTC Vive, Occulus Rift devices.</li>
						</ul>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/projects/glass.jpg' | prepend: site.baseurl }}" class="avatar-54 photo" width="214">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Low-cost Open Smart Glass and Augmented Reality Applications</strong>
                        <span>2015.01 – 2016.12</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
						<ul>
						<li>Advised by Prof. Xinyu Zhang | Founded by State Key Laboratory of Computer Aided Design and Computer Graphics</li>
						<li>We constructed a low-cost smart glasses using 3D printing and commercially available devices</li>
						</ul>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-projects-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/projects/glass.jpg' | prepend: site.baseurl }}" class="avatar-54 photo" width="214">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Low-cost Open Smart Glass and Augmented Reality Applications</strong>
                        <span>2015.01 – 2016.12</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
						<ul>
						<li>Advised by Prof. Xinyu Zhang | Founded by State Key Laboratory of Computer Aided Design and Computer Graphics</li>
						<li>We constructed a low-cost smart glasses using 3D printing and commercially available devices</li>
						</ul>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->